In [46]:
from itertools import combinations
from operator import itemgetter
import tensorflow as tf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [47]:
customer_df = pd.read_csv('customerdata.csv',low_memory=False)
customer_df.head()

,name,DELIVERY_DATE,CUSTOMER_ID,id,TIME_CREATED,product_item_id,PRODUCT_NAME,CATEGORY,QUANTITY,DELIVERY_QUANTITY,status,COMPLAINT_REASON,UNIT_MEASURE,code,PACKAGING,MRP,UNIT_PRICE,DISCOUNT
0,Bangalore,2021-03-07T00:00:00.000+05:30,24,23181828,2021-03-06T07:15:05.000+05:30,41534,Nandini Shubham-500ML Pouch,Milk,1,1,DELIVERED,NaN,500.0,ML,Pouch,22.0,22.0,0
1,Bangalore,2021-03-07T00:00:00.000+05:30,24,23181828,2021-03-06T07:15:05.000+05:30,41540,Nandini Toned Milk-500ML Pouch,Milk,1,1,DELIVERED,NaN,500.0,ML,Pouch,19.0,19.0,0
2,Bangalore,2021-03-07T00:00:00.000+05:30,33,23181829,2021-03-06T07:15:05.000+05:30,41569,Heritage Toned Milk-500ML Pouch,Milk,3,3,DELIVERED,NaN,500.0,ML,Pouch,21.0,21.0,0
3,Bangalore,2021-03-07T00:00:00.000+05:30,144,23181830,2021-03-06T07:15:05.000+05:30,41531,Heritage Full Cream Milk-500ML Pouch,Milk,2,2,DELIVERED,NaN,500.0,ML,Pouch,26.0,26.0,0
4,Bangalore,2021-03-07T00:00:00.000+05:30,144,23181830,2021-03-06T07:15:05.000+05:30,41536,Nandini Samrudhi-500ML Pouch,Milk,1,1,DELIVERED,NaN,500.0,ML,Pouch,23.0,23.0,0

In [48]:
item_purchase_df = customer_df.groupby(['CUSTOMER_ID','PRODUCT_NAME']).size().reset_index(name='counts')

In [49]:
item_purchase_df

        CUSTOMER_ID                           PRODUCT_NAME  counts
0                24  Milky Mist Natural Set Curd-400G Pack       1
1                24            Nandini Shubham-500ML Pouch      15
2                24         Nandini Toned Milk-500ML Pouch      15
3                33        Heritage Toned Milk-500ML Pouch      14
4               144               Brinjal Big-500G Net Bag       1
...             ...                                    ...     ...
262511       539516              Hybrid Tomato-1KG Net Bag       1
262512       539516               Lady Finger-250G Net Bag       1
262513       539516                      Onion-1KG Net Bag       1
262514       539516               Palak/ Spinach-200G Pack       1
262515       539516                     Potato-1KG Net Bag       1

[262516 rows x 3 columns]

In [50]:
from sklearn.preprocessing import LabelEncoder
labelEncoder = LabelEncoder()
item_purchase_df['PRODUCT_NAME'] = labelEncoder.fit_transform(item_purchase_df['PRODUCT_NAME'])

In [51]:
item_purchase_df.head()

   CUSTOMER_ID  PRODUCT_NAME  counts
0           24          1642       1
1           24          1782      15
2           24          1786      15
3           33          1211      14
4          144           459       1

In [52]:
item_purchase_df['counts'] = (item_purchase_df['counts']-item_purchase_df['counts'].min())/(item_purchase_df['counts'].max()-item_purchase_df['counts'].min())

In [53]:
item_purchase_df.head()

   CUSTOMER_ID  PRODUCT_NAME    counts
0           24          1642  0.000000
1           24          1782  0.933333
2           24          1786  0.933333
3           33          1211  0.866667
4          144           459  0.000000