In [2]:
import tensorflow as tf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
customer_df = pd.read_csv('customerdata.csv',low_memory=False)
customer_df.head()

,name,DELIVERY_DATE,CUSTOMER_ID,id,TIME_CREATED,product_item_id,PRODUCT_NAME,CATEGORY,QUANTITY,DELIVERY_QUANTITY,status,COMPLAINT_REASON,UNIT_MEASURE,code,PACKAGING,MRP,UNIT_PRICE,DISCOUNT
0,Bangalore,2021-03-07T00:00:00.000+05:30,24,23181828,2021-03-06T07:15:05.000+05:30,41534,Nandini Shubham-500ML Pouch,Milk,1,1,DELIVERED,NaN,500.0,ML,Pouch,22.0,22.0,0.0
1,Bangalore,2021-03-07T00:00:00.000+05:30,24,23181828,2021-03-06T07:15:05.000+05:30,41540,Nandini Toned Milk-500ML Pouch,Milk,1,1,DELIVERED,NaN,500.0,ML,Pouch,19.0,19.0,0.0
2,Bangalore,2021-03-07T00:00:00.000+05:30,33,23181829,2021-03-06T07:15:05.000+05:30,41569,Heritage Toned Milk-500ML Pouch,Milk,3,3,DELIVERED,NaN,500.0,ML,Pouch,21.0,21.0,0.0
3,Bangalore,2021-03-07T00:00:00.000+05:30,144,23181830,2021-03-06T07:15:05.000+05:30,41531,Heritage Full Cream Milk-500ML Pouch,Milk,2,2,DELIVERED,NaN,500.0,ML,Pouch,26.0,26.0,0.0
4,Bangalore,2021-03-07T00:00:00.000+05:30,144,23181830,2021-03-06T07:15:05.000+05:30,41536,Nandini Samrudhi-500ML Pouch,Milk,1,1,DELIVERED,NaN,500.0,ML,Pouch,23.0,23.0,0.0

In [14]:
item_number=pd.DataFrame(customer_df.groupby('CUSTOMER_ID')["PRODUCT_NAME"].apply(list))
item_number

                                                  PRODUCT_NAME
CUSTOMER_ID
24           [Nandini Shubham-500ML Pouch, Nandini Toned Mi...
33           [Heritage Toned Milk-500ML Pouch, Heritage Ton...
144          [Heritage Full Cream Milk-500ML Pouch, Nandini...
159          [Nandini Toned Milk-500ML Pouch, Nandini Toned...
161          [Nandini Toned Milk-1L Pouch, Nandini Toned Mi...
...                                                        ...
539498                                [Amul Taaza-500ML Pouch]
539500       [Maiyas Gulab Jamun Mix Combo (Buy 1 Get 1)-17...
539503       [Govind Dahi-500G Pouch, Amul Slim 'n' Trim Mi...
539509       [Watermelon Small-1PER PIECE Net Bag, Farm Fre...
539516       [Onion-1KG Net Bag, Lady Finger-250G Net Bag, ...

[42315 rows x 1 columns]

In [15]:
def to_1D(series):
    return pd.Series([x for _list in series for x in _list])

In [16]:
unique_items = to_1D(item_number["PRODUCT_NAME"]).value_counts()

In [17]:
unique_items

Nandini Toned Milk-500ML Pouch                    85788
Nandini Shubham-500ML Pouch                       61154
Nandini Curd-500ML Pouch                          36564
Nandini Toned Milk-1L Pouch                       34661
Nandini Samrudhi-500ML Pouch                      30767
                                                  ...
Unibic Cookies / Choco Chip Cookies-500G Pouch        1
Harrisons Black Tea Bags-25 PCS Box                   1
Naturally Nutritious Jaggery Powder-500G Pouch        1
18HERBS Organics Premium Black Tea-250G Box           1
Grapes - Sharad Seedless-1KG                          1
Length: 2795, dtype: int64